@page
@model TravelSiteApplication.Pages.ClimatePageModel
@{
    ViewData["Title"] = "Climate";
}
<body style="background-image: url('sky.jpg'); background-size: cover; background-position: center;">
<style>
    .headercontainer{
            border: 30px solid #89CFF0;
            background-color: #FFFFFF;
        }
    th.vertical {
        display: block;
        text-align: left;
        padding: 10px; 
        width: 25%;
    }

   <style>
    .searchcontainer {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .search-container {
        margin-top: 50px;
        text-align: center;
        margin: 0 auto;
      
    }

 
    .search-input {
        padding: 10px;
        width: 300px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
 
    }


    .search-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .search-button:hover {
            background-color: #0056b3;
        }
    .weathercontainer {
            border: 30px solid #89CFF0;
            background-color: #FFFFFF;
            padding: 20px;
            width: 500px;
            height: 300px;
            margin: 0 auto;
            margin-top: 50px;
            font-size: 150%;
    }
</style>
<div class="headercontainer">
<h1 class="h1" style="text-align:center; font-size:350%"><b>Weather Forcast</b></h1>
    </div>
<br style="margin-bottom: 50px;">
<div class="searchcontainer">

</div>


    <div class="weathercontainer">
        <h2 class="h2" style="text-align:center">Weather Information</h2>
        <div id="weatherData"></div>
        <!---Must have div to hold information --->
    </div>

    <!--- Must call function --->
    <script type="module">
        getWeatherForecast();
    </script>


  






</body>



 

  
    








