@page
@model TravelSiteApplication.Pages.SearchPageModel
@{
    var longitude = HttpContext.Request.Query["longitude"];
    var latitude = HttpContext.Request.Query["latitude"];
}
<body class="bg-light">
    <h1 class="h1"><b>Search For Hotel</b></h1>
<!--Search by hotel id-->
<h2 class="h2">Search by Coordinates</h2>

<script type = "module">
    displayHotelSearchByRadius(@latitude, @longitude);
</script>

<form id="searchbyCoordinates">
    <label for="LatInp" class="form-label">Latitude</label>
    <input id="LatInp" name="Latitude" type="number" step="any" required />
    <label for="LongInp" class="form-label">Longitude</label>
    <input id="LongInp" name="Longitude" type="number" step="any" required />
    <input type="submit" id="submitBtn" value="Search" class="btn btn-primary" />
</form>

    <div id="hotelResults"></div>
    <a href="/RoomAvail?hotelid=@Model" class="btn btn-secondary">Room Availability</a>



</body>